force-app/main/default/flows/TOTP_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_TOTP_code</name>
        <label>Get TOTP code</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <actionName>TOTPFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_email_to_User</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>TOTPFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_User</name>
        <label>Send email to User</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Code_Verification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>userEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please verify your Identity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailbody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Force_Logout</name>
        <label>Force Logout</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_user_email</name>
        <label>Get user email</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>userEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_attempts</name>
        <label>Increment attempts</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>attempts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TOTP_code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Too_attempts_attempted</name>
        <label>Too attempts attempted</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Code_Verification_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Too_many_attempts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Logout</targetReference>
            </connector>
            <label>Too many attempts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_code</name>
        <label>Verify code</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Code_CANNOT_be_verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verification_code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_TOTP_code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Too_attempts_attempted</targetReference>
            </connector>
            <label>Code CANNOT be verified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TOTP Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TOTP Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Code_Verification</name>
        <label>Code Verification</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_code</targetReference>
        </connector>
        <fields>
            <name>Verification_code</name>
            <dataType>String</dataType>
            <fieldText>Verification code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The verification code MUST be 6 digits.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Verification_code}) = 6</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Code_Verification_Error</name>
        <label>Code Verification Error</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Increment_attempts</targetReference>
        </connector>
        <fields>
            <name>verificationErrorText</name>
            <fieldText>&lt;p&gt;The verification code you specified cannot be verified. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send New Code</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_email</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Emailbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please use the below code to confirm your identity.
{!Get_TOTP_code}
Thank you</text>
    </textTemplates>
    <variables>
        <name>attempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TOTP_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
